// Colors - Defines core colors to be used throughout the app

// Shades
$white: #FEFEFE;
$offWhite: #EFEFEF;
$gainsboro: #DCDCDC;
$lightgray: #D3D3D3;
$silver: #C0C0C0;
$darkgray: #A9A9A9;
$gray: #808080;
$dimgray:	#696969;
$lightslategray: #778899;
$slategray: #708090;
$darkslategray: #2F4F4F;
$offBlack: #131313;
$black: #030303;

// Theme 1 - Gorgeous Contrast
// $primary: #86C232;
// $primaryDark: #61892F;
// $secondary: #8FC1E3;
// $secondaryDark: #5085A5;
// $callout: #CEBC81;
// $soft: #86B3D1;
// $vibrant: #f7941d;

// Theme 2 - Hot Pinque
$primary: #D9244F;
$primaryDark: #AC1F40;
$secondary: #246EB9;
$secondaryDark: #164472;
$callout: #F5EE9E;
$soft: #FDFFFC;
$vibrant: #4CB944;


// Examples of usage
// .white { color: $white };
// .offWhite { color: $offWhite };
// .gainsboro { color: $gainsboro };
// .lightgray { color: $lightgray };
// .silver { color: $silver };
// .darkgray { color: $darkgray };
// .gray { color: $gray };
// .dimgray { color: $dimgray };
// .lightslategray { color: $lightslategray };
// .slategray { color: $slategray };
// .darkslategray { color: $darkslategray };
// .offBlack { color: $offBlack };
// .black { color: $black };

// .primary { color: $primary };
// .primaryDark { color: $primaryDark };
// .secondary { color: $secondary };
// .secondaryDark { color: $secondaryDark };
// .callout { color: $callout };
// .soft { color: $soft };
// .vibrant { color: $vibrant };