// Styles for MenuDrawer scaffold component
@import 'styles/base.scss';

.MenuDrawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: auto;
  background-color: $slategray;
  top: 5rem;
  bottom: 0;
  right: -9999px;
  min-width: 200px;
  height: 100%;
  opacity: 0;
  transition: 
    0.5s right ease-in-out, 
    0.5s opacity ease-in-out,
    0.5s box-shadow ease;
  a {
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 100%;
    background: $lightslategray;
    text-align: center;
    transition: 0.3s all ease;
    padding: 0 1rem;
    margin: 0.25rem;
    position: relative;
    &:after {
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 0;
      top: 0.25rem;
      width: 0; 
      height: 0; 
      border-top: 1.25rem solid transparent;
      border-bottom: 1.25rem solid transparent; 
      border-right:1.25rem solid $secondaryDark;
      opacity: 0;
    }
  }
  &.active {
    opacity: 0.95;
    box-shadow: -0.25rem 0 1rem rgba(0,0,0,0.75);
  }

  a, a:active, a:visited {
    color: $white;
  }

  a:hover,
  a.active {
    color: $white;
    background: $secondaryDark;
    &:after {
      left: -1.25rem;
      opacity: 1;
    }
  }
  a:hover {
    text-shadow: 2px 2px 5px $darkslategray;
  }

}