// Styles for Header scaffold component
@import '../../../base.scss';

.Header {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: $black;

  .Logo {
    font-size: 2rem;
    color: $white;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
  }

  .MenuIcon {
    font-size: 2rem;
    color: $white;
  }
}