// Styles for Header scaffold component
@import 'styles/base.scss';

.Header {
  
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $black;
  position: fixed;
  z-index: 9999;
  .Logo {
    @include flex-center-all;
    font-size: 2rem;
    color: $white;
    text-decoration: none;
    font-weight: 700;
    padding-left: 0.5rem;
    margin-right: auto;
    
    img {
      width: 3rem;
      height: 3rem;
      padding: 0.25rem;
      border-radius: 100%;
    }
  }
  .amp {
    font-size: 1.25rem;
    color: $slategray;
  }
  .MenuIcon {
    font-size: 2rem;
    color: $white;
    cursor: pointer;
    padding: 0.25rem;
    padding-right: 0.5rem;
  }
}